*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}
.toolbox-cont{
    display: flex;
    height: 3rem;
    background-color:#485460;
    align-items:center;
}
.toolbox-priority-cont{
    height:2.2rem;
    width: 18rem;
    display: flex;
    border-radius: 2px;
    position: relative;
    justify-content: space-around;
    align-items: center;
    left: 5rem;
    background-color: #2C3A47;

}
.action-btn-cont{
    height:2.2rem;
    width: 5rem;
    display: flex;
    border-radius: 2px;
    margin-left: 8rem;
    background-color: #636e72;
}
.action-btn-cont>*{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#f5f6fa;
}
.action-btn-cont>*:hover{
    color: #00a8ff;
}
.color{
    height: 1.3rem;
    width: 2.5rem;
    border-radius: 2px;
    background-color: black;
}
.lightpink{
    background-color: lightpink;
}
.lightgreen{
    background-color: lightgreen;
}
.lightblue{
    background-color: lightblue;
}
.black{
    background-color: black;
}
.modal-cont{
    border-radius: 4px;
    height:50vh;
    width: 45vw;
    position: absolute;
    display: none;
    top:calc((100vh - 50vh) / 2);
    left:calc( (100vw - 45vw) / 2);
    
}
.priority-color-cont{
    height:100%;
    width:25%;
    background-color:#2C3A47;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px ;
}
.text-area-cont{
    padding: 5%;
    background-color: #f1f2f6;
    border: none;
    border-radius: 3px;
    outline: none;
    resize: none;
    height: 100%;
    width: 75%;
}
.priority-color{
    height: 15%;
    border-radius: 2px;
    width: 65%;
}
.border{
    border:2px solid red;
}
.main-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
}
.ticket-cont{
    height: 11rem;
    /* width: */
    background-color: #F8EFBA;
    width: 16rem;
}
.ticket-color{
    height:1rem;
    background-color: black;
}
.ticket-id{
    height:2rem;
    padding: .2rem;
    background-color: #F8EFBA;
}
.task-area{
    padding: .2rem;
    height: calc( (100%-1rem-2rem));
}